:root {
  --clr-yellow: hsl(47, 88%, 63%); /* bg color */
  --clr-white: hsl(0, 0%, 100%); /* card bg color */
  --clr-gray-500: hsl(0, 0%, 42%); /* Paragraph color */
  --clr-gray-950: hsl(0, 0%, 7%); /* Title, user, badge */
}

html {
  font-size: 16px;
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/figtree-v9-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/figtree-v9-latin-800.woff2") format("woff2");
}

a {
  text-decoration: none;
}

body {
  background-color: var(--clr-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Figtree";
}

.card {
  border: 1px solid var(--clr-gray-950);
  max-width: 400px;
  width: 90%;
  background-color: var(--clr-white);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 8px 8px 0 var(--clr-gray-950);
}

.card__banner {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 1.2rem;
}

.card__badge {
  background-color: var(--clr-yellow);
  display: inline-block;
  font-weight: 800;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card__date {
  color: var(--clr-gray-950);
  font-weight: 500;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  margin-bottom: 1.3rem;
}

a .card__title {
  color: var(--clr-gray-950);
  font-weight: 800;
  font-size: clamp(1.2rem, 1.15rem + 0.5vw, 1.45rem);
  margin-bottom: 1.5rem;
}

a .card__title:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

a .card__title:active {
  text-decoration: none;
  color: var(--clr-yellow);
}

.card__description {
  color: var(--clr-gray-500);
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
  margin-bottom: 0.8rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.author__dp {
  width: 2rem;
  height: auto;
}

.author__username {
  font-weight: 800;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
}
